
<mat-toolbar color="primary" class="fixed-header">
  <mat-toolbar-row>
    <a mat-button (click)="drawer.toggle()">
      <mat-icon aria-label="Example icon-button with a home icon">menu</mat-icon>
    </a>
    {{title}}
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar id="warning" class="fixed-header">
  <mat-toolbar-row>
    <p>
      <b>WARNING: </b>
    </p>
  </mat-toolbar-row>
</mat-toolbar>


<mat-drawer-container>
  <mat-drawer #drawer mode="over">
    <row>
      <column>
        <a mat-button routerLink="/" (click)="drawer.toggle()">
          Home
        </a>
      </column>
    </row>
    <row>
      <column>
        <a mat-button routerLink="/register" (click)="drawer.toggle()">Register</a>
      </column>
    </row>
  </mat-drawer>
  <mat-drawer-content>
    <main>
      <div class="container-fluid">
        <router-outlet>
        </router-outlet>
      </div>
    </main>
  </mat-drawer-content>
</mat-drawer-container>






