<form class="example-form">
  <mat-form-field>
    <input matInput placeholder="First Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Middle Name">
  </mat-form-field>
  <br />
  <br />
  <mat-form-field>
    <input matInput placeholder="Address 1">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Address 2">
  </mat-form-field>
  <br />
  <br />
  <mat-form-field>
    <input matInput placeholder="Home Phone">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Cell Phone">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email">
  </mat-form-field>
  <br />
  <br />
  <button mat-raised-button color="primary">Submit</button>
  <button mat-raised-button>Back</button>
</form>
